@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&family=Varela+Round&family=Ysabeau+Infant:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #7530d4;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

p {
	font-size: 1rem;
	font-weight: 400;
}
